body {
  padding: 0;
  background-color: #f9f9f9;
  font-family: sans-serif;
}
.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

#header {
  padding: 10px 0px;
}
#header a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

#pane {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: calc(100vh - 140px);
}
#inputWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  overflow: auto;
}
#inputWrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 26px
}
#inputWrapper > div > input {
  margin-left: 6px;
}
#terminologyUrl {
  flex: 1;
}
#inputWrapper #variables {
  display: flex;
  flex-direction: column;
  min-height: 26px;
  max-height: 114px;
  height: max(26px, min(120px, 100%));
  align-items: flex-start;
  overflow-y: auto;
  flex: 1 0 fit-content;
}
#inputWrapper #variables ul {
  list-style-type: none;
  margin: 0;
  padding: 0 6px 6px 6px;
}
#inputWrapper #variables li {
  margin-left: 25px;
}
#addVariable {
  margin-left: 45px;
}
#inputWrapper #variables li input:not([readonly]) {
  margin-right: 6px;
}
#inputWrapper #variables label {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#inputWrapper #variables label.selected li {
  list-style-type: disc;
}
#inputWrapper #variables label:not(.selected) li {
  list-style-type: circle;
}
#inputWrapper #variables label.selected li input{
  background-color: lightyellow;
}
#inputWrapper > #input {
  margin-top: 3px;
  display: block;
  flex: 1 1 auto;
}

#input .CodeMirror {
  border: 1px solid #ddd;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}

#path {
  font-size: 20px;
  padding: 6px 8px;
  margin: 0;
  margin-bottom: 10px;
}
.outputWrapper {
  flex:1;
  min-width: 400px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#outputTitle {
  margin: 0;
  margin-left: 10px;
  text-decoration: underline;
}

#output {
  flex: 1;
  margin: 10px 0 0 10px;
  background: #ffffff;
  overflow: auto;
  border: 1px solid #ddd;
}

#output pre {
  margin: 0;
}

h1 {
  margin: 10px;
}

#footer {
  position: fixed;
  text-align: right;
  bottom: 0px;
  left:0px;
  right: 0px;
  padding: 5px 20px;
  background: #eee;
  opacity: 0.8;
  z-index: 100;
  font-size: 13px;
  border-top: 1px solid #ddd;
}
